{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>Protected Page</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum unde doloribus debitis nemo quia numquam id adipisci. Alias quos, fugit porro eos quisquam non sint aperiam architecto asperiores vitae blanditiis.
                Similique voluptatum distinctio corporis, molestias fugiat consequatur voluptate? Tempore omnis doloremque aspernatur, unde quia praesentium vitae, similique, repudiandae deserunt optio et sunt laboriosam harum magni? Illum exercitationem asperiores culpa magnam.
                Deserunt sapiente dolor repellat possimus quo in obcaecati deleniti dicta corrupti molestiae fuga ullam porro, voluptatem ipsum ex numquam assumenda, totam voluptates. Fugiat nemo voluptate nobis rem ipsa eligendi modi.
                Quisquam architecto, maiores ad atque aperiam eaque cum quae voluptate odit ratione velit, totam quaerat delectus quas, eos inventore a deleniti molestias nemo laudantium. Eum dolorem eaque cupiditate iure eius?
                Distinctio eum eius ducimus saepe unde corrupti minima nam excepturi! Laboriosam nobis vel dignissimos placeat aspernatur, accusantium suscipit facilis aliquid nostrum numquam cum explicabo blanditiis? Hic ipsa qui alias odio?
                Minima quos optio nostrum esse, ipsa dolor impedit tempora quam reprehenderit ipsum nihil quod quas consequuntur reiciendis facere nesciunt velit molestias et porro soluta ratione voluptas quisquam ullam debitis? Nemo.
                Iste illum voluptatum autem laborum! Aut deleniti vitae commodi itaque minus alias porro, ullam quisquam rerum voluptates expedita officiis qui libero. Id veritatis voluptas perferendis. Voluptate error officiis eligendi quibusdam.
                Voluptates, explicabo! Inventore rem illo similique sit voluptates provident dolorum, veniam nemo, atque repudiandae dicta consequuntur, vero aut vitae culpa ullam nostrum quod dignissimos quisquam ratione. Nostrum assumenda quo reiciendis?
                Dolore velit ipsum culpa enim quibusdam beatae eum sint eligendi, sapiente expedita non quas quis, eveniet nam animi provident. Dicta nesciunt explicabo sequi reiciendis saepe molestias qui veniam similique deleniti?
                Ratione delectus earum dignissimos ad laboriosam dicta quibusdam quis tenetur harum quod iste provident, amet non similique perspiciatis praesentium itaque a incidunt temporibus? Vitae, sequi neque id deleniti soluta quos.
            </p>
            <a href="{% url 'home' %}">Go to Home</a>
        </div>
    </body>
</html>